.App {
  font-family: Arial, sans-serif;
  margin: 20px;
}

form {
  margin-bottom: 20px;
}

form div {
  margin-bottom: 10px;
}

button {
  padding: 5px 10px;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 10px;
  text-align: left;
}

.mainBody{
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 10px 10px 0px #013b27;
}

.table-container {
  max-height: 400px;
  overflow-y: auto;
  min-width: 100%;
  border-color: black;
  border-width: 5px;
  border-style:solid;
  box-shadow: 0px 10px 10px 0px #013b27;
  margin-bottom: 25px;
}

.chart-card{
  border-color: black;
  border-width: 5px;
  border-style:solid;
  box-shadow: 0px 10px 10px 0px #013b27;
  margin-bottom: 25px;
}

.custom-button{
  border-color: black;
  border-width: 5px;
  border-style:solid;
  box-shadow: 0px 5px 5px 0px #013b27;
  margin-bottom: 25px;
  background-color: #b5c6c0;
  color: white;
}